async-timeout
biopython>=1.78
blinker
certifi
chardet
charset-normalizer
click
dnspython
dpcpp-cpp-rt
email_validator
Flask
Flask-Mail
Flask-WTF
gunicorn
icc-rt
idna
importlib_metadata
intel-cmplr-lib-rt
intel-cmplr-lic-rt
intel-numpy
intel-opencl-rt
intel-openmp
itsdangerous
Jinja2
MarkupSafe
mkl
mkl-fft
mkl-random
mkl-service
mkl-umath
numpy
packaging
redis
requests
rq
six
tbb
tbb4py
urllib3
Werkzeug
wget
WTForms
zipp

