{% macro render_field(field) %}
<style>

dd {
  font-family: monospace;
}

th {
  text-align: left;
}

input[type=text] {
  width: 75%;
}

table, th, td{
   border-collapse: collapse;
   border-style: dashed;
}


</style>


<dt>
    <b>{{ field.label }}</b> <br>
    <span style="font-weight:normal">
    <small>{{ field.description }}</small>
    </span>
    <br>{{ field(**kwargs)|safe }}
<dd>
    {% if field.errors %}
    {% for error in field.errors %}
    {{ error }}
    {% endfor %}
    {% endif %}
</dd>
</dt>

<p></p>
{% endmacro %}
