{% macro render_field(field) %}
<style>

dd {
  font-family: monospace;
}

th {
  text-align: left;
}

input[type=text] {
  width: 100%;
}

<!--table, th, td{-->
<!--   border: none;-->
<!--   border-collapse: collapse;-->
<!--}-->

</style>


<dt>
    <b>{{ field.label }}</b> <br>
    <span style="font-weight:normal">
    <small>{{ field.description }}</small>
    </span>
    <br>{{ field(**kwargs)|safe }}
<dd>
    {% if field.errors %}
    {% for error in field.errors %}
    {{ error }}
    {% endfor %}
    {% endif %}
</dd>
</dt>

<p></p>
{% endmacro %}
