{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% from "_formhelpers.html" import render_field %}
<form method = "POST" enctype = "multipart/form-data">
    <dl>
        {{ render_field(form.email) }}
        {{ render_field(form.chrom) }}
        {{ render_field(form.position) }}
        {{ render_field(form.upstream_fasta) }}
        {{ render_field(form.downstream_fasta) }}
        {{ render_field(form.in_fasta) }}
        {{ render_field(form.in_gff) }}
        {{ render_field(form.ref_fasta) }}
        {{ render_field(form.ref_gff) }}
    </dl>
    <p><input type=submit value=Submit>
</form>